{% extends 'layout.html' %}

{% block content %}
<div class="card">
    <section class="avatar" style="
        background: url({{ member.avatar_url }}) no-repeat center center / cover;
    "></section>
    <section class="details">
        
        <div class="back-arrow">
            <h3>DETAILS</h3>
            <a href="/members"><i class="fas fa-arrow-left"></i></a>
        </div>
        

        <div class="item">
            <div>Member</div>
            <div style="text-transform: capitalize;">{{ member.name }}</div>
        </div>

        <div class="item">
            <div>Email</div>
            <div>{{ member.email }}</div>
        </div>        

        <div class="item">
            <div>Birthday</div>
            <div>{{ member.birth}}</div>
        </div>
                
        <div class="item">
            <div>Sex</div>
            <div>{{ "Male" if member.gender == "M" else "Female" }}</div>
        </div>
                
        <div class="item">
            <div>Blood Type</div>
            <div>{{ member.blood }}</div>
        </div>

        <div class="item">
            <div>Weight / Height</div>
            <div>{{ member.weight }}Kg / {{member.height}}cm</div>
        </div>        

        <div class="item">
            <div>IMC</div>
            <div>{{ member.imc }}, {{member.peso}}</div>
        </div>
        <a href="/members/{{member.id}}/edit" class="button">Edit</a>
        <!--<a href="#" class="button delete">Delete</a>  -->

        
    </section>
</div>    

{% endblock content %}