{% extends 'layout.html' %}

{% block content %}

<form class="card" method="POST" action="/instructors">
    <section class="avatar" style="
        background: url(https://source.unsplash.com/collection/2552517/600x600) no-repeat center center / cover;
    "></section>
    <section class="details">
        <div class="back-arrow">
            <h3>NEW INSTRUCTOR</h3>
            <a href="/"><i class="fas fa-arrow-left"></i></a>
        </div>
        

         {% include 'instructors/fields.html' %}
    </section>
</form>    

{% endblock content %}